@media (max-width: 768px) {
    .nav_content {
        flex-direction: column;
        align-items: flex-start;
    }

    .logo_start {
        width: 100%;
        justify-content: space-between;
        margin-bottom: 1rem;
    }

    .main_nav {
        display: none;
        width: 100%;
    }

    .main_nav.open {
        display: block;
    }

    .ul_menu_header {
        flex-direction: column;
        align-items: center;
    }

    .menu_toggle {
        display: flex;
        position: absolute;
        top: 1rem;
        right: 1rem;
    }

    .menu_toggle.open span:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .menu_toggle.open span:nth-child(2) {
        opacity: 0;
    }

    .menu_toggle.open span:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }
}

